# Discord varaibles
# To collect these values, you need to follow the steps here: https://discordjs.guide/preparations/setting-up-a-bot-application.html#creating-your-bot
DISCORD_TOKEN=<token>

# SQL connection settings
DATABASE_NAME=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_URL="postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"

# Application settings
APP_PORT=3000
APP_GLOBAL_PREFIX=api
LOG_LEVEL=debug
